EXCHANGE_NAME=binance
EXCHANGE_WS_URL=
EXCHANGE_API_KEY=
EXCHANGE_API_SECRET=

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_MARKET_RAW=raw-market-data
KAFKA_TOPIC_SENTIMENT_RAW=raw-sentiment-data

TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432
TIMESCALEDB_DB=crypto_analytics
TIMESCALEDB_USER=crypto_user
TIMESCALEDB_PASSWORD=crypto_pass

API_HOST=0.0.0.0
API_PORT=8000

LOG_LEVEL=INFO
COINS=BTC/USDT,ETH/USDT